{{define "manylangs"}}
<ul class="dropdown-menu">
    <li>
        <a href="/admin/checkout?lang=gr">
            <img src="/static/images/flags/GR.png"> {{gettext "Greek"}}
        </a>

    </li>
    <li>

        <a href="/admin/checkout?lang=en">
            <img src="/static/images/flags/GB.png"> {{gettext "English"}}
        </a>
    </li>
</ul>
{{end}} {{define "content"}}
<input type="hidden" name="userID" id="userID" value="{{.UserID}}">
<input type="hidden" name="storeID" id="storeID" value="{{.StoreID}}">
<input type="hidden" name="hairdresserID" id="hairdresserID" value="{{.HairdresserID}}">
<input type="hidden" name="customerID" id="customerID" value="{{.CustomerID}}">
<input type="hidden" name="customerName" id="customerName" value="{{.CustomerName}}">
<input type="hidden" name="customerEmail" id="customerEmail" value="{{.CustomerEmail}}">
<input type="hidden" name="customerMobilePhone" id="customerMobilePhone" value="{{.CustomerPhone}}">



<div id="checkout_calendar" class="content">
    <div class="container-fluid">
        <div class="col-lg-4 col-sm-6">
            <div class="card">
                <div class="card-content">
                    <div class="row">
                        <div class="col-xs-3">
                            <div class="icon-big icon-success text-center">
                                <i class="ti-shopping-cart-full"></i>
                            </div>
                        </div>
                        <div class="col-xs-9">
                            <div class="numbers">
                                <p>{{gettext "Employee"}} </p>
                                {{.HairdresserName}}
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card-footer">
                    <hr>
                    <div class="stats">
                        <i class="ti-reload"></i> {{gettext "Checkout"}}
                    </div>
                </div>
            </div>

        </div>
        <div class="col-lg-4 col-sm-6">
            <div class="card">
                <div class="card-content">
                    <div class="row">
                        <div class="col-xs-3">
                            <div class="icon-big icon-success text-center">
                                <i class="ti-calendar"></i>
                            </div>
                        </div>
                        <div class="col-xs-9">
                            <div class="numbers">
                                <p>{{gettext "Customer"}}</p>
                                {{.CustomerName}}
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card-footer">
                    <hr>
                    <div class="stats">
                        <i class="ti-timer"></i> {{.AppointmentCloseDay.Format "02/01/2006"}}
                    </div>
                </div>
            </div>
        </div>

        <div class="col-lg-4 col-sm-6">
            <div class="card">
                <div class="card-content">
                    <div class="row">
                        <div class="col-xs-3">
                            <div class="icon-big icon-info text-center">
                                <i class="ti-bag"></i>
                            </div>
                        </div>
                        <div class="col-xs-9">
                            <div class="numbers">
                                <p>{{gettext "Total Points"}}</p>
                                {{.SingleCustomer.CustomerPoints}}
                                <input type="hidden" name="customepoints" id="customepoints" value="{{.SingleCustomer.CustomerPoints}}">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card-footer">
                    <hr>
                    <div class="stats">
                        <i class="ti-calendar"></i> {{gettext "Until"}} {{.AppointmentCloseDay.Format "02/01/2006"}}
                    </div>
                </div>
            </div>

        </div>


        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header">
                        <h4 class="card-title">Promotional Products</h4>
                        <p class="category">Here are promotional products for the
                            <strong>
                                <span id="selectedpromotionalproduct"></span>
                            </strong>
                        </p>
                    </div>
                    <div class="card-content table-responsive table-full-width">
                        <table class="table productspromotion">
                            <thead>
                                <tr>
                                    <th class="text-center">#</th>
                                    <th>Promotion Title</th>
                                    <th>Promotion Price</th>
                                    <th>Promotion Description</th>
                                    <th>Promotion Product</th>

                                    <th class="text-right">Actions</th>
                                </tr>
                            </thead>
                            <tbody>


                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div class="col-md-12">
                <div class="card">
                    <div class="table-responsive">
                        <table class="table table-shopping" id="printTable">
                            <thead>
                                <tr>

                                    <th>{{gettext "Services"}}</th>
                                    <th class="">{{gettext "Remove"}}</th>
                                    <th class="text-right">{{gettext "Price"}}</th>
                                    <th class="text-right">{{gettext "Quantity"}}</th>
                                    <th class="text-left">{{gettext "Discount"}}</th>
                                    <th class="text-right">{{gettext "Total"}}</th>
                                </tr>
                            </thead>
                            <tbody>
                                {{range $index , $result := .CustomerCheckout}}

                                <tr>
                                    <td class="td-product form-inline">


                                        {{if eq .SwitchFormula true}}

                                        <ul class="tree">

                                            <li>
                                                {{.ServiceName}}
                                                <ul class="ceripeproducts">

                                                </ul>
                                            </li>

                                        </ul>
                                        <button class="btn btn-sm btn-fill btn-default addrecipebutton">{{gettext "Add Recipe"}}</button>
                                        {{else}} {{.ServiceName}} {{end}}
                                        <input type="hidden" id="serviceID" name="serviceID" value="{{.ServiceID}}">
                                        <input type="hidden" id="serviceName" name="serviceName" value="{{.ServiceName}}">
                                        <input type="hidden" id="isService" name="isService" value="true">
                                        <input type="hidden" name="isNew" id="isNew" value="false">
                                        <input type="hidden" name="hairdresserID" id="hairdresserID" value="{{$.HairdresserID}}">
                                        <input type="hidden" name="eventID" id="eventID" value="{{.ID}}">



                                    </td>
                                    <td>
                                        <p class="button-remove-service">
                                            <a rel="tooltip" title="" class="btn btn-simple btn-danger btn-icon table-action remove" data-original-title="Remove">
                                                <i class="ti-close"></i>
                                            </a>
                                        </p>
                                    </td>
                                    <td class="td-price">
                                        <small>€</small>{{.ServicePrice}}
                                        <input type="hidden" class="price" name="price" value="{{.ServicePrice}}" disabled>
                                    </td>
                                    <td class="td-number td-quantity">
                                        1
                                        <input type="hidden" size="1" class="qty" name="qty" value="1" disabled>

                                    </td>
                                    <td class="td-number discount">
                                        <input type="text" name="discount" class="form-control service_discount1" value="{{.ServiceDiscount}}" rel="txttooltip" data-original-title='{{gettext "Discount amount is NOT percentage and this must be less than the total price"}}'>
                                    </td>
                                    <td class="td-number">
                                        <small>€</small>
                                        <span class="servisesubtotal">{{.TotalPerRow}}</span>
                                        <input type="hidden" class="linetotal" name="linetotal" value="{{.TotalPerRow}}">
                                    </td>
                                </tr>

                                {{end}}

                            </tbody>
                        </table>

                        <div class="col-md-12">
                            <div class="col-md-6">
                                <button id="addrow" type="button" class="btn btn-wd btn-info btn-fill btn-rotate">
                                    <span class="btn-label">
                                        <i class="ti-plus"></i>
                                    </span>
                                    {{gettext "Add Service"}}
                                </button>

                                <button id="addproductrow" type="button" class="btn btn-wd btn-primary btn-fill btn-rotate">
                                    <span class="btn-label">
                                        <i class="ti-plus"></i>
                                    </span>
                                    {{gettext "Add Product"}}
                                </button>
                            </div>

                            <div class="col-md-5 text-right customertotal">
                                {{gettext "Subtotal"}}
                            </div>
                            <div class="col-md-1 text-right customertotal">
                                <small>€</small>
                                <span id="grandsubtotal">{{.Total}}</span>
                            </div>
                        </div>
                        <div class="col-md-12">

                            <div class="col-md-6"></div>
                            <div class="col-md-5 text-right customertotal">
                                {{gettext "Discount"}}
                            </div>
                            <div class="col-md-1 text-right customertotal">
                                <small>€</small>
                                <span id="grandtotaldiscount">{{.TotalDiscount}}</span>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="col-md-6"></div>


                            <div class="col-md-5 text-right customertotal">
                                {{gettext "Total"}}
                            </div>
                            <div class="col-md-1 text-right customertotal">
                                <small>€</small>
                                <span id="grandtotal">{{.Total}}</span>
                            </div>
                        </div>
                    </div>
                    <div class="clearfix"></div>
                    <div class="card-content text-right">
                        <div class="col-md-6 text-right">
                            <!-- <button type="button" class="btn btn-wd btn-info  btn-magnify" id="printbutton">
                                <span class="btn-label">
                                    <i class="ti-file"></i>
                                </span>
                                Print PDF
                            </button>

                            <button type="button" class="btn btn-wd btn-warning  btn-magnify">
                                <span class="btn-label">
                                    <i class="ti-printer"></i>
                                </span>
                                Print Preview
                            </button> -->
                        </div>

                        <div class="col-md-4 form-inline text-right">
                            <div class="radio">
                                <input type="radio" name="radio1" id="radio1" value="cash" checked="">
                                <label for="radio1">
                                    {{gettext "Cash"}}
                                </label>
                            </div>
                            <div class="radio">
                                <input type="radio" name="radio1" id="radio2" value="credit_card">
                                <label for="radio2">
                                    {{gettext "Credit Card"}}
                                </label>
                            </div>
                        </div>
                        <div class="col-md-2">
                            <button id="payment_button" type="button" class="btn btn-wd btn-success">
                                <span class="btn-label">
                                    <i class="fa fa-check"></i>
                                </span>
                                {{gettext "Payment"}}
                            </button>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                    <br/>
                </div>
            </div>
        </div>
    </div>
    <div class="portfolio-modal modal fade" id="invoiceModal" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="close-modal" data-dismiss="modal" onclick="window.location = '/admin/calendar';">
                    <div class="lr">
                        <div class="rl"></div>
                    </div>
                </div>
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="card">
                                <div class="card-header">
                                    <h4 class="card-title">{{gettext "Checkout"}}</h4>
                                </div>
                                <div id="invoicebox" class="card-content">
                                    <div class="invoice-box">
                                        <table id="invoicetable" cellpadding="0" cellspacing="0">
                                            <tr class="top">
                                                <td colspan="2">
                                                    <table>
                                                        <tr>
                                                            <td class="title">
                                                                <img src="/static/images/stor_admin_{{.ImageName}}.jpg" style="width:100%; max-width:300px;">
                                                            </td>

                                                            <td>
                                                                {{gettext "Invoice #:"}}
                                                                <span id="invoicenumber"></span>
                                                                <br> {{gettext "Created:"}}
                                                                <span id="datetimeinvoice"></span>
                                                            </td>
                                                        </tr>
                                                    </table>
                                                </td>
                                            </tr>

                                            <tr class="information">
                                                <td colspan="2">
                                                    <table>
                                                        <tr>
                                                            <td>
                                                                <span id="companyname"></span>
                                                                <br>
                                                                <span id="companyaddess"></span>
                                                                <br>
                                                                <span id="companyaddess1"></span>
                                                                <br>
                                                                <span id="companyaddess2"></span>
                                                            </td>

                                                            <td>
                                                                <span id="invoicecustomername"></span>
                                                                <br>
                                                                <span id="invoicecustomerphone"></span>
                                                                <br>
                                                                <span id="invoicecustomeremail"></span>
                                                            </td>
                                                        </tr>
                                                    </table>
                                                </td>
                                            </tr>

                                            <tr class="heading">
                                                <td>
                                                    {{gettext "Payment Method"}}
                                                </td>

                                                <td>
                                                    #
                                                </td>
                                            </tr>

                                            <tr class="details">
                                                <td id="incoicepaymentmehtod">

                                                </td>

                                                <td>

                                                </td>
                                            </tr>

                                            <tr class="heading">
                                                <td>
                                                    {{gettext "Item"}}
                                                </td>

                                                <td>
                                                    {{gettext "Price"}}
                                                </td>
                                            </tr>
                                            <tr class="total">
                                                <td></td>

                                                <td>
                                                    {{gettext "Subtotal"}}:
                                                    <span id="subtotalinvoice"></span>
                                                </td>
                                            </tr>
                                            <tr class="total">
                                                <td></td>

                                                <td>
                                                    {{gettext "Discount"}}:
                                                    <span id="discountinvoice"></span>
                                                </td>
                                            </tr>

                                            <tr class="total">
                                                <td></td>

                                                <td>
                                                    {{gettext "Total"}}:
                                                    <span id="invocietotal"></span>
                                                </td>
                                            </tr>
                                        </table>
                                    </div>
                                </div>
                                <div class="card-footer">
                                    <hr>
                                    <!-- <div class="col-md-6">
                                        <label for="sendemail" class="control-label">Send invoice to e-mail</label>
                                        <div class="input-group">
                                            <input type="text" class="form-control" id="sendemail" name="sendemail" placeholder="Email address...">
                                            <span class="input-group-btn">
                                                <button class="btn btn-default" type="button">Send</button>
                                            </span>
                                        </div>
                                    </div> -->
                                    <div class="col-md-6 text-right">
                                        <!-- <button type="button" class="btn btn-wd btn-info  btn-magnify" id="printbuttonpdf">
                                            <span class="btn-label">
                                                <i class="ti-file"></i>
                                            </span>
                                            Print PDF
                                        </button> -->

                                        <button id="printbutton" type="button" class="btn btn-wd btn-warning  btn-magnify" onclick="window.location = '/admin/calendar';">
                                            <span class="btn-label">
                                                <i class="ti-printer"></i>
                                            </span>
                                            {{gettext "Print"}}
                                        </button>
                                    </div>
                                </div>
                                <div class="clearfix"></div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>




{{end}}{{define "scripts"}}
<script>

    $(document).ready(function () {

        var user_id = $('input[name=userID]').val();
        user_id = parseInt(user_id);
        var store_id = $("#storeID").val();
        store_id = parseInt(store_id);



        var url = '/admin/api/all-services-per-user-per-store/' + store_id + "/" + user_id;
        $.getJSON(url, function (data) {

            $("#addrow").on("click", function () {

                swal({
                    title: '{{gettext "Select Service"}}',
                    html: ` 
                        <div class="form-group margin-bottom-20">
                            <select id="service_name1" name="service_name" class="form-control service_name">
                                <option value>{{gettext "Select Service"}}</option>    
                            </select>
                        </div>
                        <div class="form-group margin-bottom-20">
                            <select id="hairdresser_name" name="hairdresser_name" class="form-control hairdresser_name">
                                <option value>{{gettext "Select Employee"}}</option>    
                            </select>
                        </div>
                        <div class="form-group margin-bottom-20">
		                    <input id="servicedatetime" type="text" class="form-control datetimepicker servicedatetime" placeholder={{gettext "Select start time"}}/>
						</div>
                        <div class="form-group">
						 <textarea class="form-control service_comments" id="service_comments" name="service_comments" placeholder={{gettext "Observations"}} rows="3"></textarea>
						</div>`,
                    showCancelButton: true,
                    confirmButtonClass: 'btn btn-success btn-fill',
                    cancelButtonClass: 'btn btn-danger btn-fill',
                    buttonsStyling: false,
                    allowOutsideClick: false,
                    preConfirm: () => {
                        return new Promise((resolve) => {

                            if ($("#hairdresser_name").select2().find(":selected").val() === '') {
                                swal.showValidationError(
                                    'Please select employee'
                                )
                                return false;
                            }
                            if ($("#service_name1").select2().find(":selected").val() === '') {
                                swal.showValidationError(
                                    'Please select service'
                                )
                                return false;
                            }
                            if ($("#servicedatetime").val() === '') {
                                swal.showValidationError(
                                    'Please select date and time'
                                )
                                return false;
                            }
                            resolve()

                        })
                    },

                }).then((result) => {
                    var service_price = $(".service_name").select2().find(":selected").attr("service_price");
                    var service_name = $(".service_name").select2().find(":selected").text();
                    var service_id = $(".service_name").select2().find(":selected").val();
                    var service_duration = $(".service_name").select2().find(":selected").attr("service_duration");


                    var hairdresser_name = $(".hairdresser_name").select2().find(":selected").text();
                    var hairdresser_id = $(".hairdresser_name").select2().find(":selected").val();
                    var servicedatetime = $(".servicedatetime").val();

                    var starttimerantevoustring = moment(servicedatetime, 'DD/MM/YYYY HH:mm');
                    var momentStringStart = starttimerantevoustring.format();
                    var StartmomentObj = starttimerantevoustring.add(service_duration, 'minutes').format();
                    var service_comments = $(".service_comments").val();

                    var switch_formula = $(".service_name").select2().find(":selected").attr("switch_formula");
                    if (switch_formula == "true") {
                        var newRow = $("<tr>");
                        var cols = "";
                        cols += '<td class="td-product form-inline"><ul class="tree"><li>' + service_name + ' <ul class="ceripeproducts"></ul></li></ul><button class="btn btn-sm btn-fill btn-default addrecipebutton">{{gettext "Add Recipe"}}</button><input type="hidden" id="serviceID" name="serviceID" value="' + service_id + '"><input type="hidden" id="serviceName" name="serviceName" value="' + service_name + '"><input type="hidden" id="isService" name="isService" value="true"><input type="hidden" name="hairdresserID" id="hairdresserID" value="' + hairdresser_id + '"><input type="hidden" name="service_start_time" id="service_start_time" value="' + momentStringStart + '"><input type="hidden" name="service_end_time" id="service_end_time" value="' + StartmomentObj + '"><input type="hidden" name="isNew" id="isNew" value="true"><input type="hidden" name="serviceComments" id="serviceComments" value="' + service_comments + '"></td>';
                        cols += '<td><p class="button-remove-service"><a rel="tooltip" title="" class="btn btn-simple btn-danger btn-icon table-action remove" data-original-title={{gettext "Remove"}}><i class="ti-close"></i></a></p></td>'
                        cols += '<td class="td-price"><small>€</small>' + service_price + '<input type="hidden" name="price" value="' + service_price + '"/></td>';
                        cols += ' <td class="td-number td-quantity"><input type="text" size="1" class="form-control" name="qty" value="1"/></td>';
                        cols += '<td class="td-number discount"><input type="text" name="discount" class="form-control service_discount"  rel="txttooltip" data-original-title={{gettext "Discount amount is NOT percentage and this must be less than the total price"}}></td>';
                        cols += '<td class="td-number"><small>€</small><span class="servisesubtotal">' + service_price + '</span><input type="hidden" name="linetotal" readonly="readonly" value="' + service_price + '"/></td>';

                        newRow.append(cols);

                        $("table.table-shopping").append(newRow);
                        setTimeout(function () { calculateGrandTotal(); calculateGrandDiscount(); calculateGrandSubTotal(); }, 50);
                        $('[rel="tooltip"]').tooltip();

                    } else {
                        var newRow = $("<tr>");
                        var cols = "";
                        cols += '<td class="td-product form-inline">' + service_name + '<input type="hidden" id="serviceID" name="serviceID" value="' + service_id + '"><input type="hidden" id="serviceName" name="serviceName" value="' + service_name + '"><input type="hidden" id="isService" name="isService" value="true"><input type="hidden" name="hairdresserID" id="hairdresserID" value="' + hairdresser_id + '"><input type="hidden" name="service_start_time" id="service_start_time" value="' + momentStringStart + '"><input type="hidden" name="service_end_time" id="service_end_time" value="' + StartmomentObj + '"><input type="hidden" name="isNew" id="isNew" value="true"><input type="hidden" name="serviceComments" id="serviceComments" value="' + service_comments + '"></td>';
                        cols += '<td><p class="button-remove-service"><a rel="tooltip" title="" class="btn btn-simple btn-danger btn-icon table-action remove" data-original-title={{gettext "Remove"}}><i class="ti-close"></i></a></p></td>'
                        cols += '<td class="td-price"><small>€</small>' + service_price + '<input type="hidden" name="price" value="' + service_price + '"/></td>';
                        cols += ' <td class="td-number td-quantity"><input type="text" size="1" class="form-control" name="qty" value="1"/></td>';
                        cols += '<td class="td-number discount"><input type="text" name="discount" class="form-control service_discount"  rel="txttooltip" data-original-title={{gettext "Discount amount is NOT percentage and this must be less than the total price"}}></td>';
                        cols += '<td class="td-number"><small>€</small><span class="servisesubtotal">' + service_price + '</span><input type="hidden" name="linetotal" readonly="readonly" value="' + service_price + '"/></td>';

                        newRow.append(cols);

                        $("table.table-shopping").append(newRow);
                        setTimeout(function () { calculateGrandTotal(); calculateGrandDiscount(); calculateGrandSubTotal(); }, 50);
                        $('[rel="tooltip"]').tooltip();

                    };
                })


                for (let i = 0; i < data.length; i++) {
                    $('.service_name').append($('<option>').text(data[i].service_name).attr('value', data[i].id).attr('service_price', data[i].service_price).attr('switch_formula', data[i].switch_formula).attr('service_duration', data[i].service_duration));
                };

                var hairdresserURL = "/admin/api/all-calendar-resourcesfe/" + user_id + "/" + store_id;
                $.getJSON(hairdresserURL, function (json) {
                    for (let i = 0; i < json.length; i++) {

                        $('.hairdresser_name').append($('<option>').text(json[i].title).attr('value', json[i].id));
                    };

                });


                $(".service_name").on("select2:select", function (e) {
                    var selecteddata = e.params.data;
                    console.log(selecteddata.id, selecteddata.text);

                });
                $(".service_name").select2({
                    theme: 'bootstrap'
                });
                $(".hairdresser_name").select2({
                    theme: 'bootstrap'
                });
                demo.initFormExtendedDatetimepickers();

            });

            $("table.table-shopping").on("input", 'input[name="price"], input[name="qty"]', function (event) {
                calculateRow($(this).closest("tr"));
                calculateGrandTotal();
                calculateGrandDiscount();
                calculateGrandSubTotal();
            });



            $("table.table-shopping").on("input", 'input[name="discount"]', function (event) {
                calculateRowAfterDiscount($(this).closest("tr"));
                calculateGrandTotal();
                calculateGrandDiscount();
                calculateGrandSubTotal();
            });

            $("table.table-shopping").on("click", "a.remove", function (event) {
                $(this).closest("tr").remove();
                calculateGrandTotal();
                calculateGrandDiscount();
                calculateGrandSubTotal();
            });



        });

        //produts

        var customerURL = '/admin/api/all-products-per-user-per-store/' + store_id + "/" + user_id;
        $.getJSON(customerURL, function (productdata) {



            $("#addproductrow").on("click", function () {


                swal({
                    title: '{{gettext "Select product"}}',
                    html: ` 
                        <div class="form-group">
                            <select id="product_name" name="product_name" class="form-control product_name">
                                <option value>{{gettext "Please Select"}}</option>    
                            </select>
                        </div>`,
                    showCancelButton: true,
                    confirmButtonClass: 'btn btn-success btn-fill',
                    cancelButtonClass: 'btn btn-danger btn-fill',
                    buttonsStyling: false,
                    preConfirm: () => {
                        return new Promise((resolve) => {

                            if ($("#product_name").select2().find(":selected").val() === '') {
                                swal.showValidationError(
                                    'Please select product'
                                )
                                return false;
                            }

                            resolve()

                        })
                    },

                }).then((result) => {
                    var product_price = $(".product_name").select2().find(":selected").attr("product_price");
                    var product_name = $(".product_name").select2().find(":selected").text();
                    var product_id = $(".product_name").select2().find(":selected").val();
                    hairID = $("#hairdresserID").val();
                    hairID = parseInt(hairID);

                    // var switch_formula = $(".service_name").select2().find(":selected").attr("switch_formula");


                    var newRow = $("<tr>");
                    var cols = "";
                    cols += '<td class="td-product form-inline">' + product_name + '<input type="hidden" id="serviceID" name="serviceID" value="' + product_id + '"><input type="hidden" id="serviceName" name="serviceName" value="' + product_name + '"><input type="hidden" id="productName" name="productName" value="' + product_name + '"><input type="hidden" id="isService" name="isService" value="false"><input type="hidden" name="hairdresserID" id="hairdresserID" value="' + hairID + '"></td>';
                    cols += '<td><p class="button-remove-service"><a rel="tooltip" title="" class="btn btn-simple btn-danger btn-icon table-action remove" data-original-title={{gettext "Remove"}}><i class="ti-close"></i></a></p></td>'
                    cols += '<td class="td-price"><small>€</small>' + product_price + '<input type="hidden" name="price" value="' + product_price + '"/></td>';
                    cols += ' <td class="td-number td-quantity"><input type="text" size="1" class="form-control" name="qty" value="1"/></td>';
                    cols += '<td class="td-number discount"><input type="text" name="discount" class="form-control service_discount"  rel="txttooltip" data-original-title={{gettext "Discount amount is NOT percentage and this must be less than the total price"}}></td>';
                    cols += '<td class="td-number"><small>€</small><span class="servisesubtotal">' + product_price + '</span><input type="hidden" name="linetotal" readonly="readonly" value="' + product_price + '"/></td>';

                    newRow.append(cols);

                    $("table.table-shopping").append(newRow);
                    setTimeout(function () { calculateGrandTotal(); calculateGrandDiscount(); calculateGrandSubTotal(); }, 50);
                    $('[rel="tooltip"]').tooltip();

                    var usr_id = $("#userID").val();
                    usr_id = parseInt(usr_id);
                    var store_id = $("#storeID").val();
                    store_id = parseInt(store_id);
                    product_id = parseInt(product_id);
                    var prourl = '/admin/api/all-promotion-services-per-products-per-user-per-store/' + usr_id + "/" + store_id + "/" + product_id;
                    $("table.productspromotion tbody").empty();


                    $.getJSON(prourl, function (promData) {
                        if (!promData) {
                            return false;
                        }
                        var b = 1;
                        for (let i = 0; i < promData.length; i++) {
                            console.log(promData);
                            b = b + i;
                            // var starttimerantevoustring = moment(promData[i].created_at);
                            // var momentStringStart = starttimerantevoustring.format("DD/MM/YYYY HH:mm");
                            var newRow = $("<tr>");
                            var cols = "";
                            cols += ' <td class="text-center">' + b + '<input type="hidden" id="promid" name="promid" class="promid" value="' + promData[i].promotion_id + '"><input type="hidden" id="prodid" name="prodid" class="prodid" value="' + promData[i].product_id + '"><input type="hidden" id="prodprice" name="prodprice" class="prodprice" value="' + promData[i].product_price + '"></td>';
                            cols += ' <td class="protitle">' + promData[i].promotion_title + '</td>';
                            cols += '<td class="promsale">' + promData[i].promotion_sale + '</td>';
                            cols += '<td>' + promData[i].promotion_description + '</td>';
                            cols += '<td class="promproductname">' + promData[i].services_name + '</td>';
                            // cols += '<td>' + momentStringStart + '</td>';
                            cols += '<td class="td-actions text-right"><div class="table-icons"><button type="button" rel="tooltip" title="" promotion-id="' + promData[i].id + '"  product-id="' + promData[i].service_id + '" class="btn btn-info btn-simple btn-xs p-add" data-original-title="Add Promotion"><i class="ti-plus"></i></button></div></td>';

                            newRow.append(cols);
                            $("table.productspromotion").append(newRow);
                        };


                        $('[rel="tooltip"]').tooltip();

                        $("#selectedpromotionalproduct").text(product_name);
                        var tablepromotion = $('table.productspromotion');



                        tablepromotion.on('click', '.p-add', function (e) {
                            hairID = $("#hairdresserID").val();
                            hairID = parseInt(hairID);
                            var promotion_name = $(this).closest("tr").find(".protitle").text();
                            var promotion_sale = $(this).closest("tr").find(".promsale").text();
                            promotion_sale = parseFloat(promotion_sale);
                            var promproductname = $(this).closest("tr").find(".promproductname").text();
                            var promid = $(this).closest("tr").find(".promid").val();
                            var prodid = $(this).closest("tr").find(".prodid").val();
                            var prodprice = $(this).closest("tr").find(".prodprice").val();
                            prodprice = parseFloat(prodprice);
                            var promotiondiscount = (prodprice - ((prodprice * promotion_sale) /100)).toFixed(2);
                            var prodisc = ((prodprice * promotion_sale) /100).toFixed(2);

                            var newRow = $("<tr>");
                            var cols = "";
                            cols += '<td class="td-product form-inline">' + promotion_name + '<input type="hidden" id="serviceID" name="serviceID" value="' + prodid + '"><input type="hidden" id="prom_id" name="prom_id" value="' + promid + '"><input type="hidden" id="serviceName" name="serviceName" value="' + promotion_name + '"><input type="hidden" id="productName" name="productName" value="' + promotion_name + '"><input type="hidden" id="isService" name="isService" value="false"><input type="hidden" name="hairdresserID" id="hairdresserID" value="' + hairID + '"></td>';
                            cols += '<td><p class="button-remove-service"><a rel="tooltip" title="" class="btn btn-simple btn-danger btn-icon table-action remove" data-original-title={{gettext "Remove"}}><i class="ti-close"></i></a></p></td>'
                            cols += '<td class="td-price"><small>€</small>' + promotiondiscount + '<input type="hidden" name="price" value="' + promotiondiscount + '"/></td>';
                            cols += ' <td class="td-number td-quantity"><input type="text" size="1" class="form-control" name="qty" value="1"/></td>';
                            cols += '<td class="td-number discount"><input type="text" name="discount" class="form-control service_discount" disabled value="' + prodisc + '"/></td>';
                            cols += '<td class="td-number"><small>€</small><span class="servisesubtotal">' + promotiondiscount + '</span><input type="hidden" name="linetotal" readonly="readonly" value="' + promotiondiscount + '"/></td>';

                            newRow.append(cols);

                            $("table.table-shopping").append(newRow);
                            setTimeout(function () { calculateGrandTotal(); calculateGrandDiscount(); calculateGrandSubTotal(); }, 50);
                            $('[rel="tooltip"]').tooltip();



                        });

                    });

                });
                for (let i = 0; i < productdata.length; i++) {
                    $('.product_name').append($('<option>').text(productdata[i].product_name).attr('value', productdata[i].id).attr('product_price', productdata[i].product_price));
                };

                // $(".product_name").on("select2:select", function (e) {
                //     var selecteddata = e.params.productdata;
                //     console.log(selecteddata.id, selecteddata.text);

                // });
                $(".product_name").select2({
                    theme: 'bootstrap'
                });

            });

            $("table.table-shopping").on("input", 'input[name="price"], input[name="qty"]', function (event) {
                calculateRow($(this).closest("tr"));
                calculateGrandTotal();
                calculateGrandDiscount();
                calculateGrandSubTotal();
            });

            $("table.table-shopping").on("input", 'input[name="discount"]', function (event) {
                calculateRowAfterDiscount($(this).closest("tr"));
                calculateGrandTotal();
                calculateGrandDiscount();
                calculateGrandSubTotal();
            });

            $("table.table-shopping").on("click", "a.remove", function (event) {
                $(this).closest("tr").remove();
                calculateGrandTotal();
                calculateGrandDiscount();
                calculateGrandSubTotal();
            });

            $("table.table-shopping").on("click", "a.removereciper", function (event) {
                $(this).closest("li").remove();
            });

            $("table.table-shopping").on("input", 'input[name="qty"]', function (event) {
                var value = $(this).val();
                value = parseInt(value);
                var service_id = +$(this).closest('tr').find('input[name="serviceID"]').val();
                service_id = parseInt(service_id);
                var isService = $(this).closest('tr').find('input[name="isService"]').val();

                if (isService == "false") {
                    $.getJSON('/admin/api/product-qty/' + service_id, function (productqtydata) {
                        var stock = productqtydata.product_stock;
                        stock = parseInt(stock);
                        var remain = stock - value;
                        remain = parseInt(remain);
                        if (remain <= 3 && remain >= 1) {
                            $.notify({
                                icon: 'ti-info',
                                message: '{{gettext "Warning: you have only"}}' + " " + remain + " " + '{{gettext "in the store"}}',

                            }, {
                                    placement: {
                                        from: "top",
                                        align: "right"
                                    },
                                    type: 'warning',
                                    allow_dismiss: true,
                                });
                        } else if (remain <= 0) {
                            $.notify({
                                icon: 'ti-alert',
                                message: '{{gettext "Danger: you have only"}}' + " " + remain + " " + '{{gettext "in the store"}}',

                            }, {
                                    placement: {
                                        from: "top",
                                        align: "right"
                                    },
                                    type: 'danger',
                                    allow_dismiss: true,
                                });
                        }
                    });
                }


            });


            $("table.table-shopping").on("click", "button.addrecipebutton", function (event) {
                var $this = $(this);
                swal({
                    title: 'Select product',
                    html: ` 
                            <div class="form-group">
                                <select id="product_name_customer" name="product_name_customer" class="form-control product_name_customer" multiple="multiple">
                                    <option value>{{gettext "Please Select"}}</option>    
                                </select>
                            </div>`,
                    showCancelButton: true,
                    confirmButtonClass: 'btn btn-success btn-fill',
                    cancelButtonClass: 'btn btn-danger btn-fill',
                    buttonsStyling: false,

                }).then(function (result) {
                    var recipes = $("#product_name_customer").val();
                    for (let i = 0; i < recipes.length; i++) {
                        $this.closest('tr').find('.ceripeproducts').append('<li>' + recipes[i] + ':<div class="form-group"><label class="control-label">{{gettext "Enter used ml"}}</label> <input  name="product_ml" class="form-control product_ml" value="0" placeholder={{gettext "Enter used ml"}}/><a rel="tooltiprecipe" title="" class="btn btn-simple btn-danger btn-icon table-action removereciper" data-original-title={{gettext "Remove"}}><i class="ti-close"></i></a></div></li>');
                        console.log(recipes[i]);
                    }
                    $('[rel="tooltiprecipe"]').tooltip();


                });
                for (let i = 0; i < productdata.length; i++) {
                    $('.product_name_customer').append($('<option>').text(productdata[i].product_name).attr('value', productdata[i].product_name));
                };


                $(".product_name_customer").select2({
                    theme: 'bootstrap',
                    placeholder: '{{gettext "Select product"}}',
                    allowClear: true,

                });
            });


        });
    });

    function calculateRow(row) {
        var price = +row.find('input[name="price"]').val();
        var qty = +row.find('input[name="qty"]').val();
        row.find('input[name="linetotal"]').val((price * qty).toFixed(2));
        row.find('.servisesubtotal').html((price * qty).toFixed(2));
    }

    function calculateRowAfterDiscount(row) {
        var price = +row.find('input[name="price"]').val();
        var qty = +row.find('input[name="qty"]').val();
        var discount = +row.find('input[name="discount"]').val();
        row.find('input[name="linetotal"]').val(((price * qty) - discount).toFixed(2));
        row.find('.servisesubtotal').html(((price * qty) - discount).toFixed(2));
    }
    function calculateGrandDiscount() {
        var discount = 0;
        $("table.table-shopping").find('input[name="discount"]').each(function () {
            discount += +$(this).val();
        });
        $("#grandtotaldiscount").text(discount.toFixed(2));
    }

    function calculateGrandTotal() {
        var grandTotal = 0;
        $("table.table-shopping").find('input[name="linetotal"]').each(function () {
            grandTotal += +$(this).val();
        });
        $("#grandtotal").text(grandTotal.toFixed(2));
    }
    function calculateGrandSubTotal() {
        var grandSubTotal = 0;
        var total = $("#grandtotal").text();
        var discount = $("#grandtotaldiscount").text();
        discount = parseFloat(discount);
        total = parseFloat(total);
        grandSubTotal = total + discount
        $("#grandsubtotal").text(grandSubTotal.toFixed(2));
    }
</script>
<script>
    $(document).ready(function () {
        $("#payment_button").on('click', function (e) {

            e.preventDefault();
            $('#payment_button').prop('disabled', true);

            $('#payment_button').addClass('loaderform');



            // var hairdresserID = $("#hairdresserID").val();
            var storeID = $("#storeID").val();
            var userID = $("#userID").val();
            var customerID = $("#customerID").val();

            var grandSubTotal = $("#grandsubtotal").text();
            grandSubTotal = parseFloat(grandSubTotal);

            var discount = $("#grandtotaldiscount").text();
            discount = parseFloat(discount);

            var total = $("#grandtotal").text();
            total = parseFloat(total);
            var customepoints = $("#customepoints").val();
            customepoints = parseInt(customepoints);
            var points = Math.trunc((total + customepoints));



            var obj;
            var tbl = [];
            var is_service = false;
            var is_new = false;

            // var servicename = $('input[name^=serviceName]').map(function (idx, elem) {
            //     return $(elem).val();
            // }).get();


            // console.log(servicename);
            var all_invoices_per_customer;
            var statusID;

            $.getJSON('/admin/api/all-invoices-per-store/' + parseInt(storeID), function (allInvoicesPerCustomer) {

                if (!allInvoicesPerCustomer) {
                    statusID = 1;
                } else {
                    statusID = allInvoicesPerCustomer.length + 1;
                }

                var formData = {
                    "user_id": parseInt(userID),
                    "store_id": parseInt(storeID),
                    "customer_id": parseInt(customerID),
                    "sub_total_cost": grandSubTotal,
                    "discount": discount,
                    "total": total,
                    "status_id": parseInt(statusID)

                };

                $.ajax({
                    type: 'post',
                    url: '/admin/api/insert-invoice-data',
                    data: JSON.stringify(formData),
                    contentType: 'application/json',
                    dataType: 'json',
                    success: function (status) {
                        console.log(status.invoice_number);
                    },
                    error: function (err) {
                        console.log(err);
                    }
                });

                $("table.table-shopping").find('input[name="serviceName"]').each(function () {
                    var eventID = +$(this).closest('tr').find('input[name="eventID"]').val();

                    var service_name = $(this).val();
                    var service_id = +$(this).closest('tr').find('input[name="serviceID"]').val();
                    var service_price = +$(this).closest('tr').find('input[name="price"]').val();
                    var service_qty = +$(this).closest('tr').find('input[name="qty"]').val();
                    var service_discount = +$(this).closest('tr').find('input[name="discount"]').val();
                    var service_line_total = +$(this).closest('tr').find('input[name="linetotal"]').val();
                    var paymentType = $('input[name=radio1]:checked').val();
                    var isService = $(this).closest('tr').find('input[name="isService"]').val();
                    var hairdresser_id = $(this).closest('tr').find('input[name="hairdresserID"]').val();

                    var isNew = $(this).closest('tr').find('input[name="isNew"]').val();

                    var service_start_time = $(this).closest('tr').find('input[name="service_start_time"]').val();


                    var service_end_time = $(this).closest('tr').find('input[name="service_end_time"]').val();
                    var serviceComments = $(this).closest('tr').find('input[name="serviceComments"]').val();

                    var prom_id = $(this).closest('tr').find('input[name="prom_id"]').val();
                    if (isService == "true") {
                        is_service = true;
                    } else {
                        is_service = false;
                    };

                    if (isNew == "true") {
                        is_new = true;
                    } else {
                        is_new = false;
                    }

                    obj = {
                        "is_service": is_service,
                        "user_id": parseInt(userID),
                        "hairdresser_id": parseInt(hairdresser_id),
                        "store_id": parseInt(storeID),
                        "customer_id": parseInt(customerID),
                        "service_name": service_name,
                        "service_id": parseInt(service_id),
                        "service_price": parseFloat(service_price),
                        "service_qty": parseFloat(service_qty),
                        "service_discount": parseFloat(service_discount),
                        "payment_type": paymentType,
                        "service_line_total": parseFloat(service_line_total),
                        "service_start_time": service_start_time,
                        "service_end_time": service_end_time,
                        "is_new": is_new,
                        "service_comments": serviceComments,
                        "event_id": parseInt(eventID),
                        "invoice_number": parseInt(statusID),
                        "promotion_product_id": parseInt(prom_id)


                    };
                    tbl.push(obj);
                });
                console.log(tbl);
                if (tbl.length === 0) {
                    $.notify({
                        icon: 'ti-info',
                        message: '{{gettext "Info: you do not have services for this client"}}',

                    }, {
                            placement: {
                                from: "top",
                                align: "right"
                            },
                            type: 'info',
                            allow_dismiss: true,
                        });
                }

                else {
                    var productname = [];
                    $("table.table-shopping").find('input[name="productName"]').each(function () {
                        var productName = $(this).val();

                        prodcuts = {
                            "product_name": productname
                        }
                        productname.push(prodcuts);
                    });



                    var customerServicesJSON = JSON.stringify(tbl);

                    var fd = new FormData();
                    fd.append('customerServicesJSON', customerServicesJSON);

                    fd.append('customerPoints', points);

                    if (productname.length) {
                        fd.append('productname', productname);
                    }

                    // fd.append('lenderLogoImage', lenderLogoImageFile[0].files[0]);
                    $.ajax({
                        url: '/admin/api/insert-checkout-data',
                        data: fd,
                        type: 'POST',
                        contentType: false,
                        processData: false,
                        dataType: 'json',
                        success: function (data) {
                            if (data.status == 500) {
                                $.notify({
                                    icon: 'ti-user',
                                    message: data.description,

                                }, {
                                        placement: {
                                            from: "top",
                                            align: "center"
                                        },
                                        type: 'danger',
                                        timer: 2000
                                    });

                            } else if (data.status == 200) {
                                swal({
                                    title: '{{gettext "Good job!"}}',
                                    text: '{{gettext "Would you like to print your invoice?"}}',
                                    type: "info",
                                    showCancelButton: true,
                                    confirmButtonClass: "btn-success",
                                    confirmButtonText: '{{gettext "No, Finish"}}',
                                    cancelButtonText: '{{gettext "Yes, Invoice"}}',
                                    allowOutsideClick: false,


                                }).then(function () {

                                    swal({
                                        title: "Thanks!",
                                        text: "Close.",
                                        buttonsStyling: false,
                                        confirmButtonClass: "btn btn-success btn-fill",
                                        type: "success",
                                        allowOutsideClick: false,

                                    }).then(function () {

                                        location.href = "/admin/calendar";


                                    });

                                }, function (dismiss) {

                                    if (dismiss === 'cancel') {
                                        var groupLength = tbl.length;
                                        var row = 6;
                                        for (let i = 0; i < groupLength; i++) {
                                            if ((i + 1) == (groupLength)) {
                                                $('#invoicetable tr').eq(row).after('<tr class="item last"><td>' + tbl[i].service_name + '</td><td>€' + tbl[i].service_price.toFixed(2) + '</td></tr>>');

                                            } else {
                                                $('#invoicetable tr').eq(row).after('<tr class="item"><td>' + tbl[i].service_name + '</td><td>€' + tbl[i].service_price.toFixed(2) + '</td></tr>>');

                                                row++;
                                            }

                                        }

                                        var invoitetota = $("#grandtotal").text();
                                        var grandsubtotal = $("#grandsubtotal").text();
                                        var grandtotaldiscount = $("#grandtotaldiscount").text();
                                        $("#invocietotal").text("€" + invoitetota);
                                        $("#discountinvoice").text("€" + grandtotaldiscount);
                                        $("#subtotalinvoice").text("€" + grandsubtotal);
                                        var paymentTypeforinvoice = $('input[name=radio1]:checked').val();
                                        $("#incoicepaymentmehtod").text(paymentTypeforinvoice.toUpperCase());
                                        var customerName = $("#customerName").val();
                                        var customerEmail = $("#customerEmail").val();
                                        var customerMobileNumber = $("#customerMobilePhone").val();
                                        $("#invoicecustomername").text(customerName);
                                        $("#invoicecustomeremail").text(customerEmail);
                                        $("#invoicecustomerphone").text(customerMobileNumber);
                                        const now = new Date();
                                        var userLang = navigator.language || navigator.userLanguage;
                                        console.log(userLang);
                                        // // Check if the li for the browsers language is available
                                        // // and set active if it is available
                                        // if ($('.' + userLang.split('-')[0]).length) {
                                        //     $('li').removeClass('active');
                                        //     $('.' + userLang.split('-')[0]).addClass('active');
                                        // }
                                        var momentString = moment(now).format('llll');
                                        $("#datetimeinvoice").text(momentString);
                                        $("#invoicenumber").text(statusID);

                                        var user_id = $('input[name=userID]').val();
                                        user_id = parseInt(user_id);
                                        var urlstores = '/admin/api/all-shops-per-user/' + user_id;

                                        $.getJSON(urlstores, function (storesdata) {
                                            var storeId = $("#storeID").val();
                                            storeId = parseInt(storeId);
                                            console.log(storeId);
                                            for (let i = 0; i < storesdata["data"].length; i++) {
                                                if (storesdata["data"][i].id == storeId) {

                                                    $("#companyname").text(storesdata["data"][i].company_name);
                                                    $("#companyaddess").text(storesdata["data"][i].company_street_number + " " + storesdata["data"][i].company_address)
                                                    $("#companyaddess1").text(storesdata["data"][i].company_city + ", " + storesdata["data"][i].company_state + " " + storesdata["data"][i].company_zip_code);
                                                    $("#companyaddess2").text(storesdata["data"][i].vat_number + ", " + storesdata["data"][i].tax_office);



                                                }
                                            }

                                        });

                                        $('#invoiceModal').modal();

                                    }
                                })
                            }
                        },
                        error: function (err) {
                            $('#payment_button').prop('disabled', false);

                            $('#payment_button').removeClass('loaderform');
                        }
                    });
                }

            });





        })
    });
</script>


<script type="text/javascript">

    $("#printbutton").on('click', function () {
        var contents = $("#invoicebox").html();
        var frame1 = $('<iframe />');
        frame1[0].name = "frame1";
        frame1.css({ "position": "absolute", "top": "-1000000px" });
        $("body").append(frame1);
        var frameDoc = frame1[0].contentWindow ? frame1[0].contentWindow : frame1[0].contentDocument.document ? frame1[0].contentDocument.document : frame1[0].contentDocument;
        frameDoc.document.open();
        //Create a new HTML document.
        frameDoc.document.write('<html><head><title></title>');
        frameDoc.document.write('</head><body>');
        //Append the external CSS file.
        frameDoc.document.write('<link href="/static/css/paper-dashboard.css"  rel="stylesheet" type="text/css" />');
        frameDoc.document.write('<link href="/static/css/demo.css"  rel="stylesheet" type="text/css" />');

        //Append the DIV contents.
        frameDoc.document.write(contents);
        frameDoc.document.write('</body></html>');
        frameDoc.document.close();
        setTimeout(function () {
            window.frames["frame1"].focus();
            window.frames["frame1"].print();
            frame1.remove();
        }, 500);
    });

</script> {{end}}