<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <link rel="apple-touch-icon" sizes="76x76" href="/static/images/apple-icon.png">
    <link rel="icon" type="image/png" sizes="96x96" href="/static/images/favicon.png">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />

    <title>mo Customer Customer And Marketing</title>

    <meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0' name='viewport' />
    <meta name="viewport" content="width=device-width" />


    <!-- Bootstrap core CSS     -->
    <link href="/static/css/bootstrap.min.css" rel="stylesheet" />

    <!--  Paper Dashboard core CSS    -->
    <link href="/static/css/paper-dashboard.css" rel="stylesheet" />

    <!-- demo cdd -->
    <link href="/static/css/demo.css" rel="stylesheet" />


    <!--  Fonts and icons     -->
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css" rel="stylesheet">
    <link href='https://fonts.googleapis.com/css?family=Muli:400,300' rel='stylesheet' type='text/css'>
    <link href="/static/css/themify-icons.css" rel="stylesheet">
</head>

<body>
    <nav class="navbar navbar-transparent navbar-absolute">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navigation-example-2">
                    <span class="sr-only">{{gettext "Toggle navigation"}}</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/admin">
                   Mo Customer CRM
                </a>
            </div>
            <div class="collapse navbar-collapse">
                <ul class="nav navbar-nav navbar-right">
                    <li>
                        <a href="/register">
                            {{gettext "Register"}}
                        </a>

                    </li>
                    <li>
                        <a href="/admin">
                            {{gettext "Dashboard"}}
                        </a>
                    </li>
                    <li>
                        <a href="/admin/login?lang=gr">
                            <img src="/static/images/flags/GR.png">
                        </a>

                    </li>
                    <li>

                        <a href="/admin/login?lang=en">
                            <img src="/static/images/flags/GB.png">
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <div class="wrapper wrapper-full-page">
        <div class="full-page login-page" data-color="" data-image="/static/images/background/background-2.jpg">
            <!--   you can change the color of the filter page using: data-color="blue | azure | green | orange | red | purple" -->
            <div class="content">
                <div class="container">
                    <div class="row">
                        <div class="col-md-4 col-sm-6 col-md-offset-4 col-sm-offset-3">
                            {{safehtml .MessageError}}
                            <form id="loginFormValidation" method="post">
                                <div class="card" data-background="color" data-color="blue">

                                    <div class="card-header">
                                        <h3 class="card-title">{{gettext "Login"}}</h3>
                                    </div>
                                    <div class="card-content">
                                        <div class="form-group">
                                            <label>{{gettext "Username"}} {{gettext "or VAT Number"}}</label>
                                            <input type="text" id="username" name="username" placeholder='{{gettext "Username"}} {{gettext "or VAT Number"}}' class="form-control input-border">
                                        </div>
                                        <div class="form-group">
                                            <label>{{gettext "Password"}}</label>
                                            <input type="password" id="password" name="password" placeholder='{{gettext "Password"}}' class="form-control input-border">
                                        </div>
                                        <div class="form-group">
                                            <label>{{gettext "Role"}}</label>
                                            <select name="role" id="role" class="form-control">
                                                <option value="">{{gettext "Please Select"}}</option>
                                                <option value="admin">{{gettext "Administrator"}}</option>
                                                <option value="shop">{{gettext "Shop"}}</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="form-group text-center">
                                        <input type="checkbox" tabindex="3" class="" name="remember" id="remember">
                                        <label for="remember"> {{gettext "Remember Me"}}</label>
                                    </div>
                                    <div class="card-footer text-center">
                                        <button type="submit" class="btn btn-fill btn-wd ">{{gettext "Let's go"}}</button>
                                        <div class="forgot">
                                            <a href="#pablo">{{gettext "Forgot your password?"}}</a>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>

            <footer class="footer footer-transparent">
                <div class="container">
                    <div class="copyright">
                        &copy;
                        <script>document.write(new Date().getFullYear())</script>, made with
                        <i class="fa fa-heart heart"></i> by
                        <a href="https://www.mo.com">mo</a>
                    </div>
                </div>
            </footer>
        </div>
    </div>
</body>
<!--   Core JS Files. Extra: TouchPunch for touch library inside jquery-ui.min.js   -->
<script src="/static/js/jquery-3.1.1.min.js" type="text/javascript"></script>
<script src="/static/js/jquery-ui.min.js" type="text/javascript"></script>
<script src="/static/js/perfect-scrollbar.min.js" type="text/javascript"></script>
<script src="/static/js/bootstrap.min.js" type="text/javascript"></script>

<!--  Forms Validations Plugin -->
<script src="/static/js/jquery.validate.min.js"></script>

<!-- Promise Library for SweetAlert2 working on IE -->
<script src="/static/js/es6-promise-auto.min.js"></script>

<!--  Plugin for Date Time Picker and Full Calendar Plugin-->
<script src="/static/js/moment.min.js"></script>

<!--  Date Time Picker Plugin is included in this js file -->
<script src="/static/js/bootstrap-datetimepicker.js"></script>

<!--  Select Picker Plugin -->
<script src="/static/js/bootstrap-selectpicker.js"></script>

<!--  Switch and Tags Input Plugins -->
<script src="/static/js/bootstrap-switch-tags.js"></script>

<!-- Circle Percentage-chart -->
<script src="/static/js/jquery.easypiechart.min.js"></script>

<!--  Charts Plugin -->
<script src="/static/js/chartist.min.js"></script>

<!--  Notifications Plugin    -->
<script src="/static/js/bootstrap-notify.js"></script>

<!-- Sweet Alert 2 plugin -->
<script src="/static/js/sweetalert2.js"></script>

<!-- Vector Map plugin -->
<script src="/static/js/jquery-jvectormap.js"></script>

<!--  Google Maps Plugin    -->
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDjCJQmyil5FKCMy9c29Jz4RswT5glVOdQ"></script>

<!-- Wizard Plugin    -->
<script src="/static/js/jquery.bootstrap.wizard.min.js"></script>

<!--  Bootstrap Table Plugin    -->
<script src="/static/js/bootstrap-table.js"></script>

<!--  Plugin for DataTables.net  -->
<script src="/static/js/jquery.datatables.js"></script>

<!--  Full Calendar Plugin    -->
<script src="/static/js/fullcalendar.min.js"></script>

<!-- Paper Dashboard PRO Core javascript and methods for Demo purpose -->
<script src="/static/js/paper-dashboard.js"></script>

<!-- Paper Dashboard PRO DEMO methods, don't include it in your project! -->
<script src="/static/js/demo.js"></script>


<script type="text/javascript">
    $().ready(function () {
        demo.checkFullPageBackgroundImage();
        demo.loginFormValidation();

        setTimeout(function () {
            // after 1000 ms we add the class animated to the login/register card
            $('.card').removeClass('card-hidden');
        }, 700)
    });
</script>
<script>
    
    $(document).ready(function () {
        if (localStorage.chkbx && localStorage.chkbx != '') {
            $('#remember').attr('checked', 'checked');
            $('#username').val(localStorage.username);
            $('#password').val(localStorage.password);
        } else {
            $('#remember').removeAttr('checked');
            $('#username').val('');
            $('#password').val('');
        }
        $('#remember').click(function () {
            if ($('#remember').is(':checked')) {
                localStorage.username = $('#username').val();
                localStorage.password = $('#password').val();
                localStorage.chkbx = $('#remember').val();
            } else {
                localStorage.username = '';
                localStorage.password = '';
                localStorage.chkbx = '';
            }
        });
    });
</script>

</html>