<!doctype html>
<html lang="en">

<head>
	<meta charset="utf-8" />
	<link rel="apple-touch-icon" sizes="76x76" href="/static/images/apple-icon.png">
	<link rel="icon" type="image/png" sizes="96x96" href="/static/images/favicon.png">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />

	<title>Paper Dashboard PRO by Creative Tim</title>

	<meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0' name='viewport' />
	<meta name="viewport" content="width=device-width" />


	<!-- Bootstrap core CSS     -->
	<link href="/static/css/bootstrap.min.css" rel="stylesheet" />

	<!--  Paper Dashboard core CSS    -->
	<link href="/static//css/paper-dashboard.css" rel="stylesheet" />


	<!--  Fonts and icons     -->
	<link href="https://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css" rel="stylesheet">
	<link href='https://fonts.googleapis.com/css?family=Muli:400,300' rel='stylesheet' type='text/css'>
	<link href="/static/css/themify-icons.css" rel="stylesheet">
</head>

<body>
	<nav class="navbar navbar-transparent navbar-absolute">
		<div class="container">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle navbar-toggle-black" data-toggle="collapse" data-target="#navigation-example-2">
					<span class="sr-only">Toggle navigation</span>
					<span class="icon-bar "></span>
					<span class="icon-bar "></span>
					<span class="icon-bar"></span>
				</button>
			</div>
			<div class="collapse navbar-collapse">
				<ul class="nav navbar-nav navbar-right">
					<li>
						<a href="/admin/login" class="btn">
							Looking to login?
						</a>
					</li>
				</ul>
			</div>
		</div>
	</nav>

	<div class="wrapper wrapper-full-page">
		<div class="register-page">
			<!--   you can change the color of the filter page using: data-color="blue | azure | green | orange | red | purple" -->
			<div class="content">
				<div class="container">
					<div class="row">
						<div class="col-md-8 col-md-offset-2">
							<div class="header-text">
								<h2>Paper Dashboard PRO</h2>
								<h4>Register for free and experience the dashboard today.</h4>
								<hr>
							</div>
						</div>
						<div class="col-md-4 col-md-offset-2">
							<div class="media">
								<div class="media-left">
									<div class="icon icon-danger">
										<i class="ti ti-user"></i>
									</div>
								</div>
								<div class="media-body">
									<h5>Free Account</h5>
									Here you can write a feature description for your dashboard, let the users know what is the value that you give them.
								</div>
							</div>
							<div class="media">
								<div class="media-left">
									<div class="icon icon-warning">
										<i class="ti-bar-chart-alt"></i>
									</div>
								</div>
								<div class="media-body">
									<h5>Awesome Performances</h5>
									Here you can write a feature description for your dashboard, let the users know what is the value that you give them.
								</div>
							</div>
							<div class="media">
								<div class="media-left">
									<div class="icon icon-info">
										<i class="ti-headphone"></i>
									</div>
								</div>
								<div class="media-body">
									<h5>Global Support</h5>
									Here you can write a feature description for your dashboard, let the users know what is the value that you give them.
								</div>
							</div>
						</div>
						<div class="col-md-4">
							{{safehtml .MessageError}}
							<form id="registerFormValidation" method="post" action="/admin/register">
								<div class="card card-plain">
									<div class="content">
										<div class="form-group">
											<input type="text" id="vat" name="vat" placeholder="Your VAT Number" class="form-control" >
										</div>
										<div class="form-group">
											<input type="email" id="email" name="email" placeholder="Enter email" class="form-control" >
										</div>
										<div class="form-group">
											<input type="password" id="password" name="password" placeholder="Password" class="form-control" >
										</div>
										<div class="form-group">
											<input type="password" id="confirm_password" name="confirm_password" placeholder="Password Confirmation" class="form-control">
										</div>
										<div class="form-group">
											<input type="text" id="forename" name="forename" placeholder="Your Forename" class="form-control" >
										</div>
										<div class="form-group">
											<input type="text" id="surname" name="surname" placeholder="Your Surname" class="form-control" >
										</div>
										<div class="form-group">
											<input type="text" id="company_name" name="company_name" placeholder="Company Name" class="form-control">
										</div>
										<div class="form-group">
											<input type="text" id="work_telephone" name="work_telephone" placeholder="Company Name" class="form-control">
										</div>
										<div class="form-group">
											<input type="text" id="mobile_telephone" name="mobile_telephone" placeholder="Company Name" class="form-control">
										</div>

										<div id="locationField" class="form-group">
											<input id="autocomplete" name="search_address" class="form-control" placeholder="Enter your address" onFocus="geolocate()" type="text"></input>
										</div>
										<div id="address" class="hidden">
											<label class="control-label">Street address</label>
											<div class="row">
												<div class="col-md-4">
													<div class="form-group">
														<input class="form-control" id="street_number" name="street_number" placeholder="Street address" disabled="true"></input>
													</div>
												</div>
												<div class="col-md-8">
													<div class="form-group">
														<input class="form-control" id="route" name="route" disabled="true"></input>
													</div>
												</div>
											</div>

											<label class="control-label">City</label>
											<div class="form-group">
												<input class="form-control" id="locality" name="locality" placeholder="City" disabled="true"></input>
											</div>
											<div class="row">

												<div class="col-md-6">
													<label class="control-label">State</label>
													<div class="form-group">
														<input class="form-control" id="administrative_area_level_1" name="administrative_area_level_1" placeholder="State" disabled="true"></input>
													</div>
												</div>
												<div class="col-md-1"></div>
												<div class="col-md-5">
														<label class="control-label">Zip Code</label>
													<div class="form-group">
														<input class="form-control" id="postal_code" name="postal_code" placeholder="Zip code" disabled="true"></input>
													</div>
												</div>
											</div>


											<div class="form-group" colspan="3">
												<input class="form-control" id="country" name="country" placeholder="Country" disabled="true"></input>
											</div>

										</div>


									</div>
									<div class="footer text-center">
										<button type="submit" class="btn btn-fill btn-danger btn-wd">Create Free Account</button>
									</div>
								</div>
							</form>
						</div>
					</div>
				</div>
			</div>

			<footer class="footer footer-transparent">
				<div class="container">
					<div class="copyright text-center">
						&copy;
						<script>document.write(new Date().getFullYear())</script>, made with
						<i class="fa fa-heart heart"></i> by
						<a href="http://www.creative-tim.com">Creative Tim</a>
					</div>
				</div>
			</footer>
		</div>
	</div>
</body>

<!--   Core JS Files. Extra: TouchPunch for touch library inside jquery-ui.min.js   -->
<script src="/static/js/jquery-3.1.1.min.js" type="text/javascript"></script>
<script src="/static/js/jquery-ui.min.js" type="text/javascript"></script>
<script src="/static/js/perfect-scrollbar.min.js" type="text/javascript"></script>
<script src="/static/js/bootstrap.min.js" type="text/javascript"></script>

<!--  Forms Validations Plugin -->
<script src="/static/js/jquery.validate.min.js"></script>

<!-- Promise Library for SweetAlert2 working on IE -->
<script src="/static/js/es6-promise-auto.min.js"></script>

<!--  Plugin for Date Time Picker and Full Calendar Plugin-->
<script src="/static/js/moment.min.js"></script>

<!--  Date Time Picker Plugin is included in this js file -->
<script src="/static/js/bootstrap-datetimepicker.js"></script>

<!--  Select Picker Plugin -->
<script src="/static/js/bootstrap-selectpicker.js"></script>

<!--  Switch and Tags Input Plugins -->
<script src="/static/js/bootstrap-switch-tags.js"></script>

<!-- Circle Percentage-chart -->
<script src="/static/js/jquery.easypiechart.min.js"></script>

<!--  Charts Plugin -->
<script src="/static/js/chartist.min.js"></script>

<!--  Notifications Plugin    -->
<script src="/static/js/bootstrap-notify.js"></script>

<!-- Sweet Alert 2 plugin -->
<script src="/static/js/sweetalert2.js"></script>

<!-- Vector Map plugin -->
<script src="/static/js/jquery-jvectormap.js"></script>

<!--  Google Maps Plugin    -->
<!-- <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDjCJQmyil5FKCMy9c29Jz4RswT5glVOdQ"></script> -->

<!-- Wizard Plugin    -->
<script src="/static/js/jquery.bootstrap.wizard.min.js"></script>

<!--  Bootstrap Table Plugin    -->
<script src="/static/js/bootstrap-table.js"></script>

<!--  Plugin for DataTables.net  -->
<script src="/static/js/jquery.datatables.js"></script>

<!--  Full Calendar Plugin    -->
<script src="/static/js/fullcalendar.min.js"></script>

<!-- Paper Dashboard PRO Core javascript and methods for Demo purpose -->
<script src="/static/js/paper-dashboard.js"></script>

<!-- Paper Dashboard PRO DEMO methods, don't include it in your project! -->
<script src="/static/js/demo.js"></script>

<script type="text/javascript">
	$().ready(function () {
		demo.checkFullPageBackgroundImage();

		setTimeout(function () {
			// after 1000 ms we add the class animated to the login/register card
			$('.card').removeClass('card-hidden');
		}, 700)
	});
</script>
<script>
	// This example displays an address form, using the autocomplete feature
	// of the Google Places API to help users fill in the information.

	// This example requires the Places library. Include the libraries=places
	// parameter when you first load the API. For example:
	// <script src="https://maps.googleapis.com/maps/api/js?key=YOUR_API_KEY&libraries=places">

	var placeSearch, autocomplete;
	var componentForm = {
		street_number: 'short_name',
		route: 'long_name',
		locality: 'long_name',
		administrative_area_level_1: 'short_name',
		country: 'long_name',
		postal_code: 'short_name'
	};

	function initAutocomplete() {
		// Create the autocomplete object, restricting the search to geographical
		// location types.
		autocomplete = new google.maps.places.Autocomplete(
			  /** @type {!HTMLInputElement} */(document.getElementById('autocomplete')),
			{ types: ['geocode'] });

		// When the user selects an address from the dropdown, populate the address
		// fields in the form.
		autocomplete.addListener('place_changed', fillInAddress);

	}

	function fillInAddress() {
		// Get the place details from the autocomplete object.
		var place = autocomplete.getPlace();

		for (var component in componentForm) {
			document.getElementById(component).value = '';
			document.getElementById(component).disabled = false;
		}

		// Get each component of the address from the place details
		// and fill the corresponding field on the form.
		for (var i = 0; i < place.address_components.length; i++) {
			var addressType = place.address_components[i].types[0];
			if (componentForm[addressType]) {
				var val = place.address_components[i][componentForm[addressType]];
				document.getElementById(addressType).value = val;
				$("#address").removeClass("hidden");
			}
		}
	}

	// Bias the autocomplete object to the user's geographical location,
	// as supplied by the browser's 'navigator.geolocation' object.
	function geolocate() {
		if (navigator.geolocation) {
			navigator.geolocation.getCurrentPosition(function (position) {
				var geolocation = {
					lat: position.coords.latitude,
					lng: position.coords.longitude
				};
				var circle = new google.maps.Circle({
					center: geolocation,
					radius: position.coords.accuracy
				});
				autocomplete.setBounds(circle.getBounds());

			});
		}
	}
</script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDjCJQmyil5FKCMy9c29Jz4RswT5glVOdQ&libraries=places&callback=initAutocomplete&&language=el"></script>

</html>