<!doctype html>
<html>

<head>
	<meta charset="utf-8" />
	<link rel="apple-touch-icon" sizes="76x76" href="/static/images/apple-icon.png">
	<link rel="icon" type="image/png" sizes="96x96" href="/static/images/favicon.png">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />

	<title>{{gettext "Register"}}</title>

	<meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0' name='viewport' />
	<meta name="viewport" content="width=device-width" />


	<!-- Bootstrap core CSS     -->
	<link href="/static/css/bootstrap.min.css" rel="stylesheet" />

	<!--  Paper Dashboard core CSS    -->
	<link href="/static/css/paper-dashboard.css" rel="stylesheet" />

	<!-- demo cdd -->
	<link href="/static/css/demo.css" rel="stylesheet" />

	<!--  Fonts and icons     -->
	<link href="https://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css" rel="stylesheet">
	<link href='https://fonts.googleapis.com/css?family=Muli:400,300' rel='stylesheet' type='text/css'>
	<link href="/static/css/themify-icons.css" rel="stylesheet">
</head>

<body>
	<nav class="navbar navbar-transparent navbar-absolute">
		<div class="container">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle navbar-toggle-black" data-toggle="collapse" data-target="#navigation-example-2">
					<span class="sr-only">Toggle navigation</span>
					<span class="icon-bar "></span>
					<span class="icon-bar "></span>
					<span class="icon-bar"></span>
				</button>
			</div>
			<div class="collapse navbar-collapse">
				<ul class="nav navbar-nav navbar-right">
					<li>
						<a href="/admin/login" class="btn">
							{{gettext "Looking to login?"}}
						</a>
					</li>
					<li>
                        <a href="/register?lang=gr">
                            <img src="/static/images/flags/GR.png">
                        </a>

                    </li>
                    <li>

                        <a href="/register?lang=en">
                            <img src="/static/images/flags/GB.png">
                        </a>
                    </li>
				</ul>
			</div>
		</div>
	</nav>

	<div class="wrapper wrapper-full-page">
		<div class="register-page">
			<!--   you can change the color of the filter page using: data-color="blue | azure | green | orange | red | purple" -->
			<div class="content">
				<div class="container">
					<div class="row">
						<div class="col-md-8 col-md-offset-2">
							<div class="header-text">
								<h2>mo</h2>
								<h4>Customer Management And Marketing</h4>
								<h4>{{gettext "Discover all the features it has to offer"}}</h4>								
								<hr>
							</div>
						</div>
						<div class="col-md-4 col-md-offset-2">
							<div class="media">
								<div class="media-left">
									<div class="icon icon-danger">
										<i class="ti ti-user"></i>
									</div>
								</div>
								<div class="media-body">
									<h5>{{gettext "Customer Management"}}</h5>
									- {{gettext "Your customers are rewarded as they buy and can redeem their reward when a limit is reached."}}<br>
									- {{gettext "Customer Calendar"}}<br>
									- {{gettext "Detailed traffic and customer history"}}<br>
									- {{gettext "Notes and historical data per customer"}}<br>
								</div>
							</div>
							<div class="media">
								<div class="media-left">
									<div class="icon icon-warning">
										<i class="ti-bar-chart-alt"></i>
									</div>
								</div>
								<div class="media-body">
									<h5>{{gettext "Get instant access"}}</h5>
									- {{gettext "Get instant access from your laptop, PC, mobile or tablet"}}<br>
									- {{gettext "Cost management"}}<br>
									- {{gettext "Automatic reminders with sms and email"}}<br>
									- {{gettext "Managing multiple stores"}}<br>
									- {{gettext "Automatic backup of data"}}<br>
								</div>
							</div>
							<div class="media">
								<div class="media-left">
									<div class="icon icon-info">
										<i class="ti-headphone"></i>
									</div>
								</div>
								<div class="media-body">
									<h5>{{gettext "Warehouse Management"}}</h5>
									- {{gettext "Stock management"}}<br>
									- {{gettext "Supplier Management"}}<br>									
								</div>
							</div>
							
						</div>
						<div class="col-md-4">
							{{safehtml .MessageError}}
							<form method="post" id="registerFormValidation" action="/admin/register" enctype="multipart/form-data">
								<div class="card card-plain">
									<div class="content">
										<div class="form-group">
											<input type="text" id="username" name="username" placeholder='{{gettext "Your username"}}'class="form-control" >
										</div>
										<div class="form-group">
											<input type="email" id="email" name="email" placeholder='{{gettext "Enter email"}}' class="form-control" >
										</div>
										<div class="form-group">
											<input type="password" id="password" name="password" placeholder='{{gettext "Password"}}'class="form-control" >
										</div>
										<div class="form-group">
											<input type="password" id="confirm_password" name="confirm_password" placeholder='{{gettext "Password Confirmation"}}' class="form-control">
										</div>
										<div class="form-group">
											<input type="text" id="forename" name="forename" placeholder='{{gettext "Your Forename"}}' class="form-control" >
										</div>
										<div class="form-group">
											<input type="text" id="surname" name="surname" placeholder='{{gettext "Your Surname"}}' class="form-control" >
										</div>
										<div class="form-group">
											<input type="text" id="company_name" name="company_name" placeholder='{{gettext "Company Name"}}' class="form-control">
										</div>
										<div class="form-group">
											<input type="text" id="work_telephone" name="work_telephone" placeholder='{{gettext "Work Telephone"}}' class="form-control">
										</div>
										<div class="form-group">
											<input type="text" id="mobile_telephone" name="mobile_telephone" placeholder='{{gettext "Mobile Telephone"}}' class="form-control">
										</div>
									</div>
									
										<label>{{gettext "Upload Logo"}}</label>
										<div class="input-group">
											<span class="input-group-btn">
													<button class="btn btn-fill btn-file">
														{{gettext "Browse…"}} <input name="logo" type="file" id="imgInp">
													</button>
													</span>
											<input type="text" class="form-control" readonly>
										</div>
										<img id='img-upload' />
									
									<div class="footer text-center">
										<button type="submit" class="btn btn-fill btn-danger btn-wd">{{gettext "Create Account"}}</button>
									</div>
								</div>
							</form>
						</div>
					</div>
				</div>
			</div>

			<footer class="footer footer-transparent">
				<div class="container">
					<div class="copyright text-center">
						&copy;
						<script>document.write(new Date().getFullYear())</script>, made with
						<i class="fa fa-heart heart"></i> by
						<a href="http://www.creative-tim.com">Creative Tim</a>
					</div>
				</div>
			</footer>
		</div>
	</div>
</body>

<!--   Core JS Files. Extra: TouchPunch for touch library inside jquery-ui.min.js   -->
<script src="/static/js/jquery-3.1.1.min.js" type="text/javascript"></script>
<script src="/static/js/jquery-ui.min.js" type="text/javascript"></script>
<script src="/static/js/perfect-scrollbar.min.js" type="text/javascript"></script>
<script src="/static/js/bootstrap.min.js" type="text/javascript"></script>

<!--  Forms Validations Plugin -->
<script src="/static/js/jquery.validate.min.js"></script>

<!-- Promise Library for SweetAlert2 working on IE -->
<script src="/static/js/es6-promise-auto.min.js"></script>

<!--  Plugin for Date Time Picker and Full Calendar Plugin-->
<script src="/static/js/moment.min.js"></script>

<!--  Date Time Picker Plugin is included in this js file -->
<script src="/static/js/bootstrap-datetimepicker.js"></script>

<!--  Select Picker Plugin -->
<script src="/static/js/bootstrap-selectpicker.js"></script>

<!--  Switch and Tags Input Plugins -->
<script src="/static/js/bootstrap-switch-tags.js"></script>

<!-- Circle Percentage-chart -->
<script src="/static/js/jquery.easypiechart.min.js"></script>

<!--  Charts Plugin -->
<script src="/static/js/chartist.min.js"></script>

<!--  Notifications Plugin    -->
<script src="/static/js/bootstrap-notify.js"></script>

<!-- Sweet Alert 2 plugin -->
<script src="/static/js/sweetalert2.js"></script>

<!-- Vector Map plugin -->
<script src="/static/js/jquery-jvectormap.js"></script>

<!--  Google Maps Plugin    -->
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDjCJQmyil5FKCMy9c29Jz4RswT5glVOdQ"></script>

<!-- Wizard Plugin    -->
<script src="/static/js/jquery.bootstrap.wizard.min.js"></script>

<!--  Bootstrap Table Plugin    -->
<script src="/static/js/bootstrap-table.js"></script>

<!--  Plugin for DataTables.net  -->
<script src="/static/js/jquery.datatables.js"></script>

<!--  Full Calendar Plugin    -->
<script src="/static/js/fullcalendar.min.js"></script>

<!-- Paper Dashboard PRO Core javascript and methods for Demo purpose -->
<script src="/static/js/paper-dashboard.js"></script>

<!-- Paper Dashboard PRO DEMO methods, don't include it in your project! -->
<script src="/static/js/demo.js"></script>

<script type="text/javascript">
	$().ready(function () {
		demo.checkFullPageBackgroundImage();
		demo.registerFormValiaiton();

		setTimeout(function () {
			// after 1000 ms we add the class animated to the login/register card
			$('.card').removeClass('card-hidden');
		}, 700)
	});
</script>

<script>
	$(document).ready(function () {
		$(document).on('change', '.btn-file :file', function () {
			var input = $(this),
				label = input.val().replace(/\\/g, '/').replace(/.*\//, '');
			input.trigger('fileselect', [label]);
		});

		$('.btn-file :file').on('fileselect', function (event, label) {

			var input = $(this).parents('.input-group').find(':text'),
				log = label;

			if (input.length) {
				input.val(log);
			} else {
				if (log) alert(log);
			}

		});
		function readURL(input) {
			if (input.files && input.files[0]) {
				var reader = new FileReader();

				reader.onload = function (e) {
					$('#img-upload').attr('src', e.target.result);
				}

				reader.readAsDataURL(input.files[0]);
			}
		}

		$("#imgInp").change(function () {
			readURL(this);
		});
	});

</script>

</html>