{{define "manylangs"}}
<ul class="dropdown-menu">
	<li>
		<a href="/admin/unfinishedcanceled?lang=gr">
			<img src="/static/images/flags/GR.png"> {{gettext "Greek"}}
		</a>

	</li>
	<li>

		<a href="/admin/unfinishedcanceled?lang=en">
			<img src="/static/images/flags/GB.png"> {{gettext "English"}}
		</a>
	</li>
</ul>
{{end}} {{define "content"}}
<div class="content">
	<input type="hidden" id="UserID" name="UserID" value="{{.UserID}}">
	<input type="hidden" name="UserEmail" id="UserEmail" value="{{.UserEmail}}">
	<div class="container-fluid">
		<div class="row ">

			<div class="card">				
				<div class="card-content">
					<div class="nav-tabs-navigation">
						<div class="nav-tabs-wrapper">
							<ul id="tabs" class="nav nav-tabs" data-tabs="tabs">
								<li class="active">
									<a href="#salesperpartner" data-toggle="tab">Cancelled Appointments Report</a>
								</li>


							</ul>
						</div>
					</div>
					<div id="my-tab-content" class="tab-content ">
						<div class="tab-pane active" id="salesperpartner">
							<div class="row">
								<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">

									<div class="col-md-4  col-sm-4 col-xs-4 text-left margin-bottom-20">
										<div class="btn-group">
											<button type="button" id="thisweekservices" class="btn btn-default">{{gettext "This Week"}}</button>
											<button id="thismonthservices" type="button" class="btn btn-default">{{gettext "This Month"}}</button>
											<button type="button" id="thisyearservices" class="btn btn-default">{{gettext "This Year"}}</button>
										</div>
									</div>

									<div class="col-md-8">
										<form id="formsalesperpartnet">
											<div class="col-md-3">
												<div id="ServiceTime" class="form-group">

													<select id="select_store" name="select_store" class="select_store selectpicker" data-style="btn dropdown-toggle bs-placeholder btn-info  btn-block"
													 title='{{gettext "Select Store"}}' data-size="7" data-live-search="true">
														{{range $index , $result := .Stores}}

														<option value="{{$result.ID}}">{{$result.CompanyName}}</option>
														{{end}}
													</select>

												</div>

											</div>
											<div class="col-md-3">
												<div class="form-group">
													<input type="text" id="service_date_from" name="service_date_from" class="form-control datepicker" placeholder='{{gettext "Select From Date"}}'>
												</div>
											</div>
											<div class="col-md-3">
												<div class="form-group">
													<input type="text" id="service_date_to" name="service_date_to" class="form-control datepicker" placeholder='{{gettext "Select To Date"}}'>
												</div>
											</div>
											<div class="col-md-3">
												<div class="form-group">
													<button id="salessearchbutton" type="button" class="btn btn-wd btn-warning btn-fill btn-magnify">
														<span class="btn-label">
															<i class="ti-search"></i>
														</span>
														{{gettext "Search"}}
													</button>
												</div>
											</div>

										</form>
									</div>

								</div>
								<div class="clearfix"></div>
							</div>
							<h3 class="text-left">{{gettext "Cancellations Report:"}}
								<span id="fromsalestitle"></span> -
								<span id="tosalestitle"></span>
							</h3>

							<div class="fresh-datatables">
								<table id="canselleddatatable" class="table  table-striped table-bordered  table-hover" cellspacing="0" width="100%" style="width:100%">
									<thead>
										<tr>
											<th>{{gettext "Customer"}}</th>
											<th>{{gettext "Phone"}}</th>
											<th>{{gettext "Email"}}</th>
											<th>{{gettext "Service"}}</th>
											<th>{{gettext "Cancellation Date"}}</th>
											<th class="disabled-sorting">{{gettext "Actions"}}</th>
										</tr>
									</thead>
									<tfoot>
										<tr>
											<th>{{gettext "Customer"}}</th>
											<th>{{gettext "Phone"}}</th>
											<th>{{gettext "Email"}}</th>
											<th>{{gettext "Service"}}</th>
											<th>{{gettext "Cancellation Date"}}</th>
											<th class="disabled-sorting">{{gettext "Actions"}}</th>
										</tr>
									</tfoot>
									<tbody>

									</tbody>

								</table>
							</div>
							<div class="card card-plain ">								
								<div id="graph-container" class="card-content">
									<canvas id="mybarChart"></canvas>
									<!-- <div id="chartActivity" class="ct-chart"></div> -->
								</div>

							</div>
						</div>


					</div>
				</div>
			</div>
		</div>

	</div>
</div>




{{end}}{{define "scripts"}}
<script type="text/javascript">
	$(document).ready(function () {
		var data_table;
		var dashboard_table_id = "#canselleddatatable";
		function destroy_existing_data_table() {

			var existing_table = $(dashboard_table_id).dataTable();
			if (existing_table != undefined) {
				existing_table.fnClearTable();
				existing_table.fnDestroy();
			};
		};

		function create_dashboard_table() {
			var from = $("#service_date_from").val();
			$("#fromsalestitle").text(from);
			var momentObjFfrom = moment(from, 'DD/MM/YYYY');
			var timeStampFrom = (moment(momentObjFfrom).unix());
			var to = $("#service_date_to").val();
			$("#tosalestitle").text(to);
			var momentObjTo = moment(to, 'DD/MM/YYYY');

			var timeStampTo = (moment(momentObjTo).unix());

			var user_id = $('input[name=UserID]').val();
			var user_id = parseInt(user_id);

			var store_id = $("#select_store option:selected").val();
			store_id = parseInt(store_id);

			var results = enumerateDaysBetweenDates(momentObjFfrom, momentObjTo);
			console.log(results);

			if ($('#mybarChart').length) {

				$.ajax({
					type: 'GET',
					url: '/admin/api/all-cancellations-per-day-graph/' + user_id + "/" + store_id + "/" + timeStampFrom + "/" + timeStampTo,
					dataType: 'json',

					success: function (json) {






						var labelss = new Array();

						var labels = new Array();;
						var datasets = new Array();
						$.each(json, function (i, data) {


							labels = data.labels

							datasets = data.datasets;
							// console.log(data.labels);



							// list.push(data);

						});
						// console.log(datasets);
						// for (let i = 0; i < datasets.length; i++) {
						// 	if (datasets[i].label == true) {
						// 		datasets[i].label = "Services";
						// 	};
						// 	if (datasets[i].label == false) {
						// 		datasets[i].label = "Products";
						// 	}
						// };

						for (i = 0; i < labels.length; ++i) {
							var momentDate = moment(labels[i]);
							labelss.push(momentDate.format('DD-MM-YYYY'));

						}


						divs = jQuery.unique(labelss);

						// sortLabels = divs.sort();
						var data = {
							labels: labelss,
							datasets: datasets,
						};
						// Example from the docs
						$('#mybarChart').remove(); // this is my <canvas> element
						$('#graph-container').append('<canvas id="mybarChart"><canvas>');
						var ctx = document.getElementById("mybarChart");

						var mybarChart = new Chart(ctx, {
							type: 'bar',

							data,
							

						});


						


					},
					error: function (Result) {

						console.log("error");

					}

				});

			};


			var servicesalesurl = '/admin/api/all-cancellations/' + user_id + "/" + store_id + "/" + timeStampFrom + "/" + timeStampTo;



			data_table = $(dashboard_table_id).DataTable({
				"processing": true,


				"ajax": {
					"url": servicesalesurl,
					"dataSrc": function (data) {
						if (data["data"] == null) {
							return [];
						}
						else {
							return data.data;
						}

					}
				},
				"oLanguage": {
					"sEmptyTable": '{{gettext "You do not have any data"}}' + from + " to: " + to,
					"sProcessing": '{{gettext "Loading. Please wait..."}}'
				},


				"columns": [
					{
						"data": "null",
						"render": function (data, type, row) {
							var name = row.customer_name + " " + row.customer_surname;

							return name;
						}
					},
					{
						"data": "customer_mobile_number",
						"render": function (data) {


							return data;
						}
					},
					{
						"data": "customer_email",
						"render": function (data) {


							return '<a href="mailto:' + data + '" target="_top">' + data + '</a>';
						}
					},
					{
						"data": "service_name",
						"render": function (data) {


							return data;
						}
					},
					{
						"data": "updated_at",
						"render": function (data) {
							var dateoflastReview = moment(data, "YYYY-MM-DD HH:mm");
							return dateoflastReview.format("DD/MM/YYYY")
						}

					},

					{
						"data": "null",
						"render": function (data, type, row) {

							return '<td class="text-right"><a rel="tooltip" title="" class="btn btn-simple btn-warning btn-icon table-action sendsms" data-original-title="Send SMS"><i class="ti-mobile"></i></a><a rel="tooltip" title="" class="btn btn-simple btn-warning btn-icon table-action sendEmail" data-original-title="Send e-mail"><i class="ti-email"></i></a></td>'

						}
					},

				],
				"pagingType": "full_numbers",
				"lengthMenu": [[10, 25, 50, -1], [10, 25, 50, '{{gettext "All"}}']],
				responsive: true,
				language: {
					search: "_INPUT_",
					searchPlaceholder: '{{gettext "Search records"}}',
				},
				"initComplete": function (settings, json) {
					$('[rel="tooltip"]').tooltip();

				}

			});
		};

		$('table').on('responsive-display', function (e, datatable, row, showHide, update) {

			$('[rel="tooltip"]').tooltip();

		});
		// Edit record
		$('table#canselleddatatable').on('click', '.sendsms', function () {
			var cell = data_table.cell(this.parentNode);
			var data = data_table.row(cell.index().row).data();

			swal({
				title: 'Send sms',
				html: ` 
				<p>The customer `+ data.customer_name + " " + data.customer_surname + ` has cancelled their appointment on  <strong>` + moment(data.updated_at).format("DD/MM/YYYY") + ` </strong> at <strong> ` + moment(data.updated_at).format("HH:mm") + `</strong> . Please send an sms message.</p>
				<p>Please check the telephone number: <strong>`+ data.customer_mobile_number + `</strong>,  then type your message in the text box below and press ok</p>
				<div class="form-group">
				<input type="text" id="gold_customer_mobile_number" name="gold_customer_mobile_number" class="form-control" placeholder="Customer mobile phone number">
				</div>
				<div class="form-group">
				<textarea class="form-control sms_gold_customer_comments" id="sms_gold_customer_comments" name="sms_gold_customer_comments" placeholder=Message rows="3"></textarea>
				</div>`,
				showCancelButton: true,
				confirmButtonClass: 'btn btn-success btn-fill',
				cancelButtonClass: 'btn btn-danger btn-fill',
				buttonsStyling: false,
				preConfirm: () => {
					return new Promise((resolve) => {

						if ($("#sms_gold_customer_comments").val() === '') {
							swal.showValidationError(
								'Please write a message'
							)
							return false;
						};
						if ($("#gold_customer_mobile_number").val() === '') {
							swal.showValidationError(
								'Please insert a mobile phone number'

							)
							return false;
						}

						resolve()

					})
				},

			}).then((result) => {
				var sender = "mo";
				var customermobilenumber = $("#gold_customer_mobile_number").val();
				var customersmsmessage = $("#sms_gold_customer_comments").val();

				var formData = {
					"sender": sender,
					"mobile_phone_number": customermobilenumber,
					"message": customersmsmessage
				};
				$.ajax({
					type: 'post',
					url: '/admin/api/send-sms-from-gold-customers',
					data: JSON.stringify(formData),
					dataType: 'json',
					contentType: "application/json",

					success: function (data) {
						var status = data.status;
						console.log(status);
						if (status == 500) {

							return;
						} else {

							swal({
								title: '{{gettext "Good job!"}}',
								text: 'Successfully send sms to client: ' + " " + data.customer_name,
								buttonsStyling: false,
								confirmButtonClass: "btn btn-success btn-fill",
								type: "success"
							}).then(function () {
								window.location.reload();
							});

						}

					}
				});


			});
			$("#gold_customer_mobile_number").val(data.customer_mobile_number);
		});
		$('table#canselleddatatable').on('click', '.sendEmail', function () {
			var user_id = $('input[name=UserID]').val();
			user_id = parseInt(user_id);
			var url = '/admin/api/all-stores-per-user/' + user_id;


			var cell = data_table.cell(this.parentNode);
			var data = data_table.row(cell.index().row).data();


			swal({
				title: 'Send E-mail',
				html: ` 
						<p>The customer <strong> `+ data.customer_name + " " + data.customer_surname + `</strong> has cancelled their appointment on <strong> ` + moment(data.updated_at).format("DD/MM/YYYY") + ` </strong> at <strong> ` + moment(data.updated_at).format("HH:mm") + `</strong>. Please send an email using the text box below and then press ok.</p>
						<p>Please check the email address is correct: <strong>`+ data.customer_email + `</strong></p>
						<div class="form-group margin-botton-20">
						<label class="control-label">Select Store</label>
						<select id="stores" name="stores" class="form-control stores">
							<option value>{{gettext "Please Select"}}</option>    
						</select>
						</div>
						<div class="form-group">
						<input type="text" id="gold_customer_email" name="gold_customer_email" class="form-control" placeholder="Customer email address">
						</div>
						<div class="form-group">
						<input type="text" id="gold_customer_subject" name="gold_customer_subject" class="form-control" placeholder="subject" value="Appointment on `+ moment(data.updated_at).format("DD/MM/YYYY") + ` at ` + moment(data.updated_at).format("HH:mm") + `">
						</div>
						<div class="form-group">
						<textarea class="form-control gold_customer_email_message" id="gold_customer_email_message" name="gold_customer_email_message" placeholder=Message rows="3"></textarea>
						</div>
						`,
				showCancelButton: true,
				confirmButtonClass: 'btn btn-success btn-fill',
				cancelButtonClass: 'btn btn-danger btn-fill',
				buttonsStyling: false,
				preConfirm: () => {
					return new Promise((resolve) => {

						if ($("#gold_customer_email").val() === '') {
							swal.showValidationError(
								'Please write the email'
							)
							return false;
						};
						if ($("#gold_customer_subject").val() === '') {
							swal.showValidationError(
								'Please write a subject'
							)
							return false;
						};
						if ($("#gold_customer_email_message").val() === '') {
							swal.showValidationError(
								'Please write a message'
							)
							return false;
						};
						if ($("#stores").select2().find(":selected").val() === '') {
							swal.showValidationError(
								'Please select store'
							)
							return false;
						}

						resolve()

					})
				},

			}).then((result) => {
				var myTextareaVal = $("#gold_customer_email_message").val();
				var myLineBreak = myTextareaVal.replace(/([^>\r\n]?)(\r\n|\n\r|\r|\n)/g, '<br />');
				var companyAdress = $(".stores").select2().find(":selected").attr("companyAdress");
				var worktel = $(".stores").select2().find(":selected").attr("work-telephone");
				var store_name = $(".stores").select2().find(":selected").text();
				// var service_id = $(".service_name").select2().find(":selected").val();
				var formData = {
					"customer_name": data.customer_name,
					"email": $("#gold_customer_email").val(),
					"subject": $("#gold_customer_subject").val(),
					"customer_message": myLineBreak,
					"company_address": companyAdress,
					"contact_details": worktel,
					"company_nick_name": store_name,
					"user_email": $("#UserEmail").val(),
				};
				$.ajax({
					type: 'post',
					url: '/admin/api/send-email-from-gold-customers',
					data: JSON.stringify(formData),
					dataType: 'json',
					contentType: "application/json",

					success: function (data) {
						var status = data.status;
						console.log(status);
						if (status == 500) {
							swal({
								title: 'Error',
								text: data.description,
								buttonsStyling: false,
								confirmButtonClass: "btn btn-success btn-fill",
								type: "error"
							}).then(function () {
								window.location.reload();
							});

							return;
						} else {

							swal({
								title: '{{gettext "Good job!"}}',
								text: 'Successfully send email to client' + " " + $("#gold_customer_email").val(),
								buttonsStyling: false,
								confirmButtonClass: "btn btn-success btn-fill",
								type: "success"
							}).then(function () {
								window.location.reload();
							});

						}

					}
				});


			});

			$.getJSON(url, function (data) {
				console.log(data);
				for (let i = 0; i < data["data"].length; i++) {
					var companyAdress = data["data"][i].company_address + " " + data["data"][i].company_street_number + ", " + data["data"][i].company_city + ", " + data["data"][i].company_zip_code + ", " + data["data"][i].company_country
					$('#stores').append($('<option>').text(data["data"][i].company_name).attr('value', data["data"][i].id).attr('companyAdress', companyAdress).attr('work-telephone', data["data"][i].work_telephone));

				};

				$('#stores').val(data["data"][0].id);

				$("#stores").select2({
					theme: 'bootstrap'
				});

			});
			$("#gold_customer_email").val(data.customer_email);
		});
		$("#salessearchbutton").click(function (event) {

			event.preventDefault();
			if ($("#service_date_from").val() === '') {
				$("<span id='spanmessagefrom'>Please select date from!</span>").insertAfter("#service_date_from");
				return false;
			} else {
				$("#spanmessagefrom").hide();

			};
			if ($("#select_store").val() === '') {
				$("<span id='spanmessagestore'>Please select store!</span>").insertAfter("#select_store");
				return false;
			} else {
				$("#spanmessagestore").hide();

			};
			if ($("#service_date_to").val() === '') {
				$("<span id='spanmessageto'>Please select date to!</span>").insertAfter("#service_date_to");
				return false;
			} else {
				$("#spanmessageto").hide();
				// $("#inactive_customers_row").removeClass("hidden").addClass("fade-it");
				event.preventDefault();
				destroy_existing_data_table();
				create_dashboard_table();
			};

		});

	});

	function enumerateDaysBetweenDates(startDate, endDate) {
		var now = startDate, dates = [];

		while (now.isSameOrBefore(endDate)) {
			dates.push(now.format('DD/MM/YYYY'));
			now.add(1, 'days');
		}
		return dates;
	};

</script>
<script type="text/javascript">
	$(document).ready(function () {


		demo.initFormExtendedDatetimepickers();
		$("#thisweekservices").on('click', function (e) {
			e.preventDefault();
			const startOfweek = moment().startOf('week').format("DD/MM/YYYY");
			const endOfweek = moment().endOf('week').format("DD/MM/YYYY");
			$("#service_date_from").val(startOfweek);
			$("#service_date_to").val(endOfweek);
		})

		$("#thismonthservices").on('click', function (e) {
			e.preventDefault();
			const startOfmonth = moment().startOf('month').format("DD/MM/YYYY");
			const endOfmonth = moment().endOf('month').format("DD/MM/YYYY");
			$("#service_date_from").val(startOfmonth);
			$("#service_date_to").val(endOfmonth);
		});

		$("#thisyearservices").on('click', function (e) {
			e.preventDefault();
			const startOfyear = moment().startOf('year').format("DD/MM/YYYY");
			const endOfyear = moment().endOf('year').format("DD/MM/YYYY");
			$("#service_date_from").val(startOfyear);
			$("#service_date_to").val(endOfyear);
		})



	});
</script> 
<script type="text/javascript">
    $.notify({
        allow_dismiss: true,
        
        icon: '/static/images/mofavicon.png',
        title: 'mo',
        message: '{{gettext "Here you can find all your cancelled appointments for all your stores"}}'
    },{
        type: 'pastel-warning',
         delay: 500000,
        icon_type: 'image',
        placement: {from: 'top',align: 'center'
	},
    offset: {
		y: 8
	},
        template: '<div data-notify="container" class="col-xs-11 col-sm-5 alert alert-{0}" role="alert">' +
                '<button type="button" aria-hidden="true" class="close" data-notify="dismiss">X</button>'+
            '<img data-notify="icon" class="img-circle pull-left">' +
            '<span data-notify="title">{1}</span>' +
            '<span data-notify="message">{2}</span>' +
        '</div>'
    });
    </script>{{end}}